@import "dhtmlx-gantt/codebase/dhtmlxgantt.css";
.gantt-chart{
    position: relative;
    width: 100%;
    height: 600px;
}

.custom-content  div.head{
    background-color: blue;
    color: white;
    height: 50px;
    float: left;
    margin-right: 10px;
}